
.ul-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: blue;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.li-nav a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.li-nav a.active {
  background-color: #4CAF50;
  color: white;
}
.li-nav a:hover:not(.active){
  background-color: #555;
  color: white;
}
.main-container{
   margin-left:25%;
   padding:1px 16px;
   height:1000px;"
}
.top-right{
  float: right;
}
.profile-pic{
  float: right;
}

img {
  border-radius: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
